body {
    font-family:arial,sans-serif;
}

p.p {
  margin: 16px 0px;
  font-size: smaller;
}

h1 {
  font-weight: bold;
}

h2, h3, h4, h5 {
  color: #505050;
}

h2 {
  padding-left: 30px;
  border-bottom: 1px solid #000;
}

h2 span {
  border-bottom: 0.2em solid #000;
}

/*
 * top-level layout
 */
.north {
    background:#0000AA url(ext/resources/images/default/basic-dialog/hd-sprite.gif) repeat-x scroll 0px -83px;
    border:0px none;
    padding-left:3px;
    padding-top:3px;
}

.dialog .x-layout-panel-north {
    background:#EEEEEE;
    border:0px none;
    padding-left:3px;
    padding-top:3px;
}

.north .header {
    color: white;
    padding-top: 3px;
}

.Wt-treeview {
    font-family: arial,tahoma,helvetica,sans-serif !important;
    font-size: 11px !important;
}

/*
 * for Widgets tree
 */
.treenodelabel {
	cursor:pointer;cursor:hand;
	font-size: 10pt;
	color: rgb(167,49,236);
}

.treenodelabel:hover {
	text-decoration: underline;
}

.treenodechildcount {
	font-size: 10pt;
	color:blue;
}

table   { border-collapse:separate; 
	border:none;
	padding: 3px;
	font-size: 11pt;
}

td   { text-align:left; padding:2px; border: none; }
th   { text-align:center; padding:2px; border: none; font-size: 12pt; background: rgb(200,200,200); color: white; }

tr.alt_row_0 { background: rgb(253,210,210); }
tr.alt_row_1 { background: rgb(242,210,253); }
tr.alt_row_2 { background: rgb(204,204,255); }
tr.alt_row_3 { background: rgb(249,222,176); }
tr.alt_row_4 { background: rgb(234,247,143); }
tr.alt_row_5 { background: rgb(209,253,255); }
tr.alt_row_6 { background: rgb(204,255,204); }
tr.alt_row_7 { background: rgb(204,204,153); }
tr.alt_row_8 { background: rgb(171,153,242); }
tr.alt_row_9 { background: rgb(255,223,117); }
